 @import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Chivo:wght@400;900&family=Roboto+Mono:wght@200;300;400;700&family=Rubik:ital,wght@0,900;1,800&display=swap'); 

.aboutContainer {
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
}


.profilePic {
    display: flex;
    width: 95%;
    margin-top: 10vh;
    margin-left: 15vh;
    opacity: 90%;
    border-radius: 300px;
    border-style:double;
    border-width: 5px;
    border-color: aliceblue;
}

.aboutMe {
    justify-content: center;
    margin-top:10vh;
    margin-left:20vh;
    margin-right:20vh;
    color: aliceblue;
    font-size: large;
    /* font-weight: bold; */
}

.aboutMe p {
    font-family: "Tenor Sans";
}