.contactContainer{
    width:40%;
    background-color: rgba(240, 248, 255, 0.292);
    display: block;
    align-self: center;
    margin:5%;
    margin-left: 29%;
    padding:15px;
    border-color: aliceblue;
    border-style: solid;
}

.contact {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: tenor sans;
}


.form h2 {
    display: flex;
    justify-content: center;
    font-family: roboto mono;
    color: aliceblue;
}

.formBtn {
    font-family: tenor sans;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    padding: 3%;
    background-color: rgba(127, 249, 255, 0.09);
}

