.contactContainer{
    width:60%;
    background-color: rgba(240, 248, 255, 0.292);
    display: block;
    align-self: center;
    margin:5%;
    margin-left: 19%;
    padding:15px;
    border-color: aliceblue;
    border-style: solid;
}

.contact {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: tenor sans;
}

input {
    width:30rem;
    height: 2rem;
}

textarea {
    width:30rem;
    height: 10rem;
}


.form h2 {
    display: flex;
    justify-content: center;
    font-family: roboto mono;
    color: aliceblue;
}

.formBtn {
    font-family: tenor sans;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    padding: 3%;
    background-color: rgba(127, 249, 255, 0.09);
}

.formBtn:hover {
    font-style: italic;
    background-color: aliceblue;
}

@media screen and (max-width: 426px) {
    .contactContainer{
        width:80%;
        background-color: rgba(240, 248, 255, 0.292);
        display: block;
        align-self: center;
        margin:5%;
        padding:15px;
        border-color: aliceblue;
        border-style: solid;
    }
    .contact {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        font-family: tenor sans;
    }
    
    input {
        width:15rem;
        height: 2rem;
    }
    
    textarea {
        width:15rem;
        height: 10rem;
    }
    .formBtn {
        font-family: tenor sans;
        display: flex;
        justify-content: center;
        margin-left: 33%;
        padding: 3%;
        background-color: rgba(127, 249, 255, 0.09);
    }
}

