.header {
    height:11vh;
    display:flex;
    justify-content: center;
    margin-top: 2px;
}

.devon {
    font-size: 10vh;
    color: aliceblue;
    margin-top: 3vh;
    font-family: roboto mono;
}