.navContainer {
    width: 100%;
    display:block;
    align-items: center;
}

.navTabs {
    width: 40%;
    margin-left: 27%;
    display:flex;
    justify-content:space-around;
    text-decoration: none;
    list-style: none;
}

.navBtn {
 margin-top: 5vh;
}

.link {
    font-family: tenor Sans;
    text-decoration: none;
    list-style: none;
    color:aliceblue;
    /* font-weight: bold; */
}