.navTabs {
    display:flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.navBtn {
    display: inline;
    text-decoration: none;
    list-style: none;
    padding: 15px;
}

#link {
    text-decoration: none;
    list-style: none;
    color:aliceblue;
    font-weight: bold;
}