.pageContainer{
    margin:2%;
    display:grid;
    place-items: center;
    width: 95%;
    align-items: center;
    
}

.singleProjectContainer {
    margin:20px;
    width: 90%;
    display:flex;
    justify-content:center;
    border-width: 10px;
    background-color: rgba(240, 248, 255, 0.615);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 5px;

}

.imageContainer {
    display: flex;
    justify-content: flex-start;
    
}

.imageContainerTwo {
    display: flex;
    justify-content: flex-end;
    margin: right 15px;
    
}

.imageContainer img {
    width: 300px;
    border-color: black;
    border-width: 4px;
    border-style: double;
}

.imageContainerTwo img {
    width: 300px;
    border-color: black;
    border-width: 4px;
    border-style: double;
}

.infoContainer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.infoContainerTwo {
    display: flex;
    justify-content: flex-start;
    margin-right: 5px;
}

.infoList li{
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: smaller;
}

.title {
    font-family:Thasadith bold;
   font-weight: bolder;
}

.subtitle {
    font-style: italic;
}

.repo {
    text-decoration: none;
    list-style: none;
    color:black;
    font-style: oblique;
}

/* .projectSeparation {
    width: 98%;
} */


