
.resumeContainer {
    width:75%;
    background-color: rgba(240, 248, 255, 0.519);
    margin-left: 12%;
}

.resume {
    display:flex;
    justify-content: center;
    padding:10px;
    margin:10px;
    
}

img {
    box-shadow: 5px 5px rgba(128, 128, 128, 0.756);
}