
.resumeContainer {
    width:85%;
    display: grid;
    justify-content: center;
    margin-right: 20%;
    
}

.frontEnd, .backEnd {
    display:flex;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.519);
    width: 80%;
    padding-left: 30%;
    padding-right: 20%;
    border-color: aliceblue;
    border-radius: 5px;
}

.frontTitle, .backTitle { 
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-top: 10%;
    font-weight: bolder;
}

.frontOne, .backOne, .frontTwo, .backTwo{
    display: flex;
    justify-content: center;
    padding: 5px;
}



.frontOne li, .frontTwo li, .backOne li, .backTwo li{
    list-style: circle;
    font-style: italic;
}

.downloadContainer {
    display:flex;
    justify-content: center;
  

}

.downloadBtn{
    padding: 10px;
    margin-top:20px;
    height: 40px;
    background-color:rgba(155, 197, 194, 0.523);
    border-color: aliceblue;
    border-style: groove;
}
.downloadBtn:hover{
    border-color: rgb(66, 66, 113);
    border-style: dotted;
}
.download {
    align-content: center;
    font-family: Tenor Sans;
    font-size: large;
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
}

.download:hover{
    font-style: italic;
    color:rgb(66, 66, 113);
 
}
