@import url('https://fonts.googleapis.com/css2?family=Alata&family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300;1,400&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 

* {
    font-family:Thasadith;
}

.main {
    background-image: url('./utilities/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:60rem;
}

